/** Your theme modifications here **/
.navbar-brand{
	margin-top: -5px;
}
body {
     background-color: lightblue;
    background-repeat: repeat;
	 background-attachment: fixed;
}
.color11{
	background-color: #4993E4;
}
.color22{
	background-color: #DD8BC1;
}
.color33{
	background-color: #6EB752;
}
.color44{
	background-color: #C5C5C5;
}
.color55{
	background-color: #A14994;
}
.color66{
	background-color: #4FBFA8;
}
.theme-form{
	color: white;
}
